@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, html{
    min-height: 100vh;
    overflow: hidden;
}
body{
    font-family: 'Lato', sans-serif;
}
#root,
.container-fluid,
.messanger{
    min-height: 100vh;
}